<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppenderBase">
       <encoder>
           <layout class="ch.qos.logback.classic.PatternLayout">
               <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
           </layout>
       </encoder>

        <topic>logs</topic>
        <partitioningStrategy class="com.github.danielwegener.logback.kafka.partitioning.HostNamePartitioningStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.BlockingDeliveryStrategy" />

        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="kafkaAppender" />
    </root>
</configuration>