<configuration>


    <property scope="context" name="bootstrap.servers" value="localhost:9092" />

    <appender name="Kafkafkaf" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
        <topic>logs</topic>
        <partitioningStrategy>HOSTNAME</partitioningStrategy>

    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="IT" additivity="false" level="info">
        <appender-ref ref="Kafkafkaf"/>
    </logger>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>