<configuration>

   <appender name="Kafkafkaf" class="com.github.danielwegener.logback.kafka.KafkaAppenderBase">
       <encoder class="com.github.danielwegener.logback.kafka.encoding.PatternLayoutKafkaMessageEncoder">
           <layout class="ch.qos.logback.classic.PatternLayout">
               <pattern>%msg</pattern>
           </layout>
       </encoder>

        <topic>logs</topic>
        <partitioningStrategy class="com.github.danielwegener.logback.kafka.partitioning.HostNamePartitioningStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.BlockingDeliveryStrategy" />

        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
    </appender>
    <logger name="IT" additivity="false" level="info">
        <appender-ref ref="Kafkafkaf"/>
    </logger>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>